
*{
  font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

.nav{
  display: flex;
}
.nav-title{
    color: #3E3E3E;
    font-size: 22px;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 477px;
}
.ul{
   list-style-type: none; 
}
li{
    float:left;
    padding: 40px 26px 37px 0px;
    font-size: 16px;
    font-weight: 500;
}

/* slideshow */

.slideshow-container{
    position: relative;
    max-width: 1000px;
}
.text{
   color: white;
   font-weight: 600;
   font-size: 48px;
   position: absolute;
   text-align: center;
   top: 300px;
   left: 440px;
}
.p{
    color:white;
    font-weight: 300;
    font-size: 16px;
    position: absolute;
    padding-top: 5px;
    top: 450px;
    padding-left: 520px;
    text-align: center;
}
.button{
    position: absolute;
    padding: 10px 43px;
    margin-left: 635px;
    top:520px;
    background-color: white;
    color: #3F87F5;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.img{
  width: 1500px;
  height: 584px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    margin-left: 1000px;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* moment */

  .moment{
    display: flex;
  }
  .pic{
    padding-top: 100px;
    padding-left: 156px;
  }
  .moment-title{
    font-weight: 700;
    font-size: 38px;
    padding-top: 173px;
    padding-bottom: 5px;
    padding-left: 35px;
  }
  .moment-description{
    color: #6C6C6C;
    font-weight: 700;
    font-size: 16px;
    padding-left: 35px;
    position: relative;
  }
  .explore-album{
    background-color: #3F87F5;
    padding: 10px 30px 10px 24px;
    margin-left: 35px;
    margin-top: 20px;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    border: none;
  }
  .explore-album>img {
    width: 18px;
    height: 14px;
    padding-left: 8px;
  }
  .offer{
    color: #505050;
    font-weight: 600;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 38px;
    padding-left: 38px;
    text-align: center;
    background-color: white;
    border: none;
    box-shadow: 3px 3px #E5E5E5 , -0.5em .3em #E5E5E5;
    position: absolute;
    top: 932px;
    right: 19px;
  }
  .offer>img{
    padding-right: 7px;
    width: 22px;
    height: 23px;
  }

  /* our package */


  .package-title{
    color: #0A0826;
    font-weight: 600;
    font-size: 38px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
  .price{
    color: #231D4F;
    font-weight: 700;
    font-size: 36px;
    padding-left: 30px;
  }
  .work{
    font-size: 28px;
    font-weight: 700;
    padding-left: 30px;
  }
  .package-p{
    padding-left: 30px;
    color: #848199;
    font-weight: 400;
    font-size: 15px;
  }
  ul{
    color: #848199;
  }
  li{
    list-style-type: none;

  }




   